body{
  margin: 0 auto;
  background-image: url("img/picture.jpg");
  background-repeat: no-repeat;
  background-size: 100% 720px;
}


.container{
  width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgba(51, 0, 0, 0.5);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 90px;
}

.websiteheading {
  font-size: 10px;
  margin-top: -50px;
  font-family: 'Special Elite', cursive;
  color: white;
  padding-bottom: 30px;
}

.websiteheading:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}

.container img{
  height: 110px;
  margin-top: 30px;
  margin-bottom: 20px;

}

header {
  font-size: 50px;
  margin-top: -150px;
  color: white;
  font-family: 'Faster One', cursive;
}

input[type="text"], input[type="password"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #fff;
  padding-left: 35px;
}
.form-input::before{
  content:"\f007";
  position: absolute;
  font-family: "FontAwesome";
  padding-left: 5px;
   color: grey;
  padding-top: 10px;
  font-size: 30px;
}
.form-input::before{
  content:"\f007";
  position: absolute;
  font-family: "FontAwesome";
  padding-left: 5px;
   color: grey;
  padding-top: 10px;
  font-size: 30px;
}
.form-input:last-child::before{
  content: "\f023";
}
.btn-login{
  padding: 15px 25px;
  color: #fff;
  background-color: #2ECC71;
}
